.landing-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #d5b038;;
}

.landing-footer{
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}